.master {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 30%; 
    height: 5px;
    border-radius: 50px;
    margin: auto; 
    background-image: linear-gradient(to right,
        #FFFFFF 00%,
        #E4A6A0 20%,
        #C77067 60%,
        #8D2015 80%,
        #700B00 100%);
}
.line.right{
    background-image: linear-gradient(to left,
        #FFFFFF 0%,
        #E4A6A0 20%,
        #C77067 60%,
        #8D2015 80%,
        #700B00 100%);
}
.master p {
    color: #8D2015;
    font-size: 24px;
}